:root {
  --white: #ffffff;
  --black: #111619;
  --gray: #dcdcdc;
  --gray-100: #f2f2f2;
  --gray-500: #555555;
  --gray-900: #000000;
  --red: #aa0601;
  --pink: #fbf2f2;
  --brown: #5f3e2d;
  --light-brown: #b75929;
}
