@import 'reset';
@import 'mixin';
@import 'variables';

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
a {
  display: block;
  text-decoration: none;
  color: var(--black);
}
img {
  max-width: 100%;
  height: auto;
}

.header-sec {
  @include flex;
  @include flex_align;
  @include flex_justify(space-between);
  flex-wrap: wrap;
  padding: 30px 88px;
  background-color: var(--red);
  @media screen and (max-width: 1199px) {
    padding: 30px 39px;
  }
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  .header-sec__logo-wrap {
    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 10px 0;
    }
  }
  .header-sec__logo {
    @include bg-img;
    display: block;
    width: 80px;
    height: 49px;
    background-image: url('../image/logo.png');
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    @media screen and (max-width: 767px) {
      margin: 0 auto;
      width: 48px;
      height: 29px;
    }
  }
  .header-sec__list {
    @include flex;
    @include flex_align;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      width: 100%;
    }
    .header-sec__list-item {
      @include auto_margin_left(64px);
      @media screen and (max-width: 1199px) {
        @include auto_margin_left(40px);
      }
      @media screen and (max-width: 767px) {
        @include auto_margin_left(0px);
        width: 50%;
        border: 1px solid var(--white);
        box-sizing: border-box;
      }
      a {
        display: block;
        color: var(--white);
        @media screen and (max-width: 767px) {
          margin: 0 auto;
          padding: 8px;
          text-align: center;
          &:hover {
            @include ts(0.3);
            color: var(--red);
            background-color: var(--white);
          }
        }
      }
    }
  }
}

.mt-12 {
  @include auto_margin_top(48px);
}
.mt-10 {
  @include auto_margin_top(40px);
}
.mt-8 {
  @include auto_margin_top(32px);
}
.mt-6 {
  @include auto_margin_top(24px);
}
.mt-5 {
  @include auto_margin_top(20px);
}
.mt-4 {
  @include auto_margin_top(20px);
}
.mt-2 {
  @include auto_margin_top(8px);
}
.mt-1 {
  @include auto_margin_top(4px);
}
.title {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.5;
}
.title-sm {
  font-size: 4rem;
  line-height: 2;
}
.text {
  font-size: 1.25rem;
}
.text-sm-2 {
  font-size: 1.25rem;
  line-height: 2.1;
}
.subtitle {
  font-size: 1.5rem;
  line-height: 1.75;
}
.bold {
  font-weight: bold;
}
